body{
    background-color: #deecf4;
}

ul{
    text-align: center;
    margin-bottom: 0px;
}
.div{
    position: relative;
}
.circle{
    margin-left: 90px;
    margin-bottom: 0px;
    position: relative;
}
.cir{
    margin-left: 90px;
    margin-bottom: 0px;
    position: relative;
}

ul li{
    display: inline-block;
    width: 175px;
    margin: 30px 40px;
    margin-bottom: 0px;
    color: #deecf4;
    position: relative;
}

#circle1{
    background-color: #6b705c;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
#circle2{
    background-color: #fca311;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
#circle3{
    background-color: #d62828;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
#circle4{
    background-color: #003049;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
#circle5{
    background-color: #7400b8;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
}
p{
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: medium;
}
.circle::after{
    content: '';
    background-color: #6b705c;
    height: 5px;
    width: 280px;
    display: block;
    top: 8px;
    right: 5px;
    left: 5px;
    position: absolute;
}

a:hover{
    text-decoration: none;
    
}


.project{
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}

.header ul li{
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
}

hr {
    border:black;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    text-shadow: black;
    height: 10px;
    
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 100px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    display: none;
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

.button {
    border-color:#232D64 ;
    color: #232D64;
    width: 13rem;
    border: 2px solid;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

.button:hover{
    background-color: #232D64;
    color: white;
}


