#tags {
    float: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 4px;
    font-family: Arial;
  }
  
  span.tag {
    cursor: pointer;
    display: block;
    float: left;
    color: #555;
    background: #add;
    padding: 5px 10px;
    padding-right: 30px;
    margin: 4px;
  }
  
  span.tag:hover {
    opacity: 0.7;
  }
  
  span.tag:after {
    position: absolute;
    content: "×";
    border: 1px solid;
    border-radius: 10px;
    padding: 0 4px;
    margin: 3px 0 10px 7px;
    font-size: 10px;
  }
  
  #tags input {
    background: #eee;
    border: 0;
    margin: 4px;
    padding: 7px;
  }

  
  #inp input {
    background: #eee;
    border: 0;
    margin: 4px;
    padding: 7px;
  }
  #inp {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 4px;
    font-family: Arial;
  }

  #inp textarea {
    background: #eee;
    border: 0;
    margin: 4px;
    padding: 7px;
  }
  

 .tooltiptext {
  display: none;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 3px;
  border-radius: 6px;
 
}
